n8n/rom-scraper-workflow.json
{
  "name": "ROM Metadata Scraper (ScreenScraper)",
  "nodes": [
    {
      "parameters": {
        "content": "## ROM Metadata Scraper\n\n**Setup (fill in Config node):**\n1. `rom_api_key` — your API key from charno-secrets\n2. `ss_user` / `ss_password` — register free at screenscraper.fr\n3. Optionally add `ss_devid` / `ss_devpassword` for higher rate limits\n\n**Behaviour:**\n- Fetches all games without box art\n- Looks each up on ScreenScraper by filename + console\n- Downloads box art + up to 3 screenshots to the backend\n- Saves title, description, year, genres as tags\n- 2 second delay between games to respect rate limits\n\n**ScreenScraper limits (free):**\n- ~10,000 requests/day, 1 thread\n- ~6,700 games = ~2 hours to full scrape",
        "height": 320,
        "width": 400,
        "color": 7
      },
      "id": "note-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -260]
    },
    {
      "parameters": {},
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 100]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "rom_api_base",
              "value": "https://charno.net/api",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "rom_api_key",
              "value": "REPLACE_WITH_YOUR_API_KEY",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "ss_user",
              "value": "REPLACE_WITH_SS_USERNAME",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "ss_password",
              "value": "REPLACE_WITH_SS_PASSWORD",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "ss_devid",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "ss_devpassword",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-7",
              "name": "max_screenshots",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.rom_api_base }}/roms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.rom_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-games",
      "name": "Get All Games",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "jsCode": "const games = $input.first().json;\nconst unscraped = Array.isArray(games)\n  ? games.filter(g => !g.box_art_url)\n  : [];\n\nif (unscraped.length === 0) {\n  throw new Error('Nothing to scrape — all games already have box art.');\n}\n\nconsole.log(`Found ${unscraped.length} unscraped games out of ${games.length} total`);\nreturn unscraped.map(g => ({ json: g }));"
      },
      "id": "node-filter",
      "name": "Filter Unscraped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop",
      "name": "Loop Over Games",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 100]
    },
    {
      "parameters": {
        "jsCode": "const game = $input.first().json;\nconst cfg = $('Config').first().json;\n\n// ScreenScraper system IDs — matches retropie's system definitions\nconst SYSTEM_IDS = {\n  amiga:       64,\n  arcade:      75,\n  genesis:      1,   // Mega Drive / Genesis\n  n64:         14,\n  neogeo:     142,\n  nes:          3,\n  psx:         57,   // PlayStation\n  snes:         4,\n  turbografx:  31,   // PC Engine / TurboGrafx-16\n  xbox:        32,\n};\n\nconst systemId = SYSTEM_IDS[game.console] ?? 0;\nconst params = new URLSearchParams({\n  devid:       cfg.ss_devid || '',\n  devpassword: cfg.ss_devpassword || '',\n  softname:    'charno-rom-scraper',\n  ssid:        cfg.ss_user,\n  sspassword:  cfg.ss_password,\n  crc:         '',\n  systemeid:   systemId,\n  romtype:     'rom',\n  romnom:      game.filename,\n  output:      'json',\n});\n\nconsole.log(`Scraping: ${game.title} (${game.console}, id=${game.id})`);\n\nreturn [{ json: { ...game, _ss_system_id: systemId, _ss_url: `https://www.screenscraper.fr/api2/jeuInfos.php?${params}` } }];"
      },
      "id": "node-build-url",
      "name": "Build ScreenScraper URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json._ss_url }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-ss-api",
      "name": "ScreenScraper API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100]
    },
    {
      "parameters": {
        "jsCode": "const game = $('Build ScreenScraper URL').first().json;\nconst cfg  = $('Config').first().json;\nconst raw  = $input.first().json;\n\n// Handle not-found (API returns non-200 or empty response)\nconst jeu = raw?.response?.jeu;\nif (!jeu) {\n  console.log(`  Not found on ScreenScraper: ${game.title}`);\n  return [{ json: { _game_id: game.id, _ss_found: false } }];\n}\n\n// Title — prefer world region, fall back to US, then any\nconst titleObj = jeu.noms?.find(n => n.region === 'wor')\n              || jeu.noms?.find(n => n.region === 'us')\n              || jeu.noms?.[0];\nconst title = titleObj?.text || game.title;\n\n// Description — English preferred\nconst synopsisObj = jeu.synopsis?.find(s => s.langue === 'en') || jeu.synopsis?.[0];\nconst description = synopsisObj?.text || null;\n\n// Year — extract 4-digit year from date string\nconst dateObj = jeu.dates?.find(d => d.region === 'wor')\n             || jeu.dates?.find(d => d.region === 'us')\n             || jeu.dates?.[0];\nconst year = dateObj?.text ? parseInt(dateObj.text.slice(0, 4)) : null;\n\n// Genres as tags (English names)\nconst tags = (jeu.genres || []).flatMap(g =>\n  (g.noms || []).filter(n => n.langue === 'en').map(n => n.text)\n).filter(Boolean);\n\n// Image auth helper — ScreenScraper image URLs need credentials appended\nconst addAuth = url => url\n  + `&ssid=${encodeURIComponent(cfg.ss_user)}`\n  + `&sspassword=${encodeURIComponent(cfg.ss_password)}`;\n\nconst medias = jeu.medias || [];\n\n// Box art — prefer 2D front, world or US region\nconst boxArt = medias.find(m => m.type === 'box-2D' && m.region === 'wor')\n            || medias.find(m => m.type === 'box-2D' && m.region === 'us')\n            || medias.find(m => m.type === 'box-2D')\n            || medias.find(m => m.type === 'box-3D');\n\n// Screenshots (in-game screens, up to max_screenshots)\nconst maxSS = cfg.max_screenshots ?? 3;\nconst screenshots = medias.filter(m => m.type === 'ss').slice(0, maxSS);\n\nconsole.log(`  Found: \"${title}\" — box art: ${!!boxArt}, screenshots: ${screenshots.length}`);\n\nreturn [{\n  json: {\n    _game_id:        game.id,\n    _ss_found:       true,\n    title,\n    description,\n    year,\n    tags,\n    box_art_url:     boxArt?.url    ? addAuth(boxArt.url)            : null,\n    screenshot_urls: screenshots.map(s => addAuth(s.url)),\n  }\n}];"
      },
      "id": "node-parse",
      "name": "Parse SS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json._ss_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-found",
      "name": "Game Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.rom_api_base + '/roms/' + $json._game_id + '/scrape' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.rom_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "box_art_url",     "value": "={{ $json.box_art_url }}" },
            { "name": "screenshot_urls", "value": "={{ $json.screenshot_urls }}" },
            { "name": "title",           "value": "={{ $json.title }}" },
            { "name": "description",     "value": "={{ $json.description }}" },
            { "name": "year",            "value": "={{ $json.year }}" },
            { "name": "tags",            "value": "={{ $json.tags }}" }
          ]
        },
        "options": {}
      },
      "id": "node-scrape",
      "name": "Scrape Game",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "jsCode": "// Rate limit: wait 2s between successful scrapes to respect ScreenScraper limits\nawait new Promise(resolve => setTimeout(resolve, 2000));\nreturn $input.all();"
      },
      "id": "node-delay-found",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "jsCode": "// Short delay even for not-found games (ScreenScraper still counts the request)\nawait new Promise(resolve => setTimeout(resolve, 1000));\nreturn $input.all();"
      },
      "id": "node-delay-skip",
      "name": "Skip Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 220]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Get All Games", "type": "main", "index": 0 }]]
    },
    "Get All Games": {
      "main": [[{ "node": "Filter Unscraped", "type": "main", "index": 0 }]]
    },
    "Filter Unscraped": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    },
    "Loop Over Games": {
      "main": [
        [{ "node": "Build ScreenScraper URL", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build ScreenScraper URL": {
      "main": [[{ "node": "ScreenScraper API", "type": "main", "index": 0 }]]
    },
    "ScreenScraper API": {
      "main": [[{ "node": "Parse SS Response", "type": "main", "index": 0 }]]
    },
    "Parse SS Response": {
      "main": [[{ "node": "Game Found?", "type": "main", "index": 0 }]]
    },
    "Game Found?": {
      "main": [
        [{ "node": "Scrape Game", "type": "main", "index": 0 }],
        [{ "node": "Skip Delay", "type": "main", "index": 0 }]
      ]
    },
    "Scrape Game": {
      "main": [[{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]]
    },
    "Rate Limit Delay": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    },
    "Skip Delay": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "id": "rom-scraper-v1",
  "tags": []
}
