n8n/rom-scraper-igdb-workflow.json
{
  "name": "ROM Metadata Scraper (IGDB)",
  "nodes": [
    {
      "parameters": {
        "content": "## ROM Metadata Scraper — IGDB\n\n**Setup (fill in Config node):**\n1. `rom_api_base` — already set\n2. `rom_api_key` — API key from charno-secrets\n3. `igdb_client_id` / `igdb_client_secret` — from dev.twitch.tv\n\n**How it works:**\n- Fetches only games with no box art from the backend\n- For each game, POSTs to /auto-scrape-igdb\n- Backend handles Twitch OAuth + IGDB search + image download\n- No code nodes — safe to re-run at any time",
        "height": 240,
        "width": 360,
        "color": 5
      },
      "id": "note-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -260]
    },
    {
      "parameters": {},
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 100]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "rom_api_base",
              "value": "http://charno-backend.web.svc.cluster.local:3080/api",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "rom_api_key",
              "value": "REPLACE_WITH_YOUR_API_KEY",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "igdb_client_id",
              "value": "REPLACE_WITH_IGDB_CLIENT_ID",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "igdb_client_secret",
              "value": "REPLACE_WITH_IGDB_CLIENT_SECRET",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.rom_api_base }}/roms?no_art=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.rom_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-games",
      "name": "Get Unscraped Games",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop",
      "name": "Loop Over Games",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.rom_api_base }}/roms/{{ $json.id }}/auto-scrape-igdb",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.rom_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "igdb_client_id",     "value": "={{ $('Config').first().json.igdb_client_id }}" },
            { "name": "igdb_client_secret", "value": "={{ $('Config').first().json.igdb_client_secret }}" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-igdb-scrape",
      "name": "IGDB Scrape Game",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Get Unscraped Games", "type": "main", "index": 0 }]]
    },
    "Get Unscraped Games": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    },
    "Loop Over Games": {
      "main": [
        [],
        [{ "node": "IGDB Scrape Game", "type": "main", "index": 0 }]
      ]
    },
    "IGDB Scrape Game": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5",
  "meta": {
    "instanceId": ""
  },
  "id": "rom-scraper-igdb-v1",
  "tags": []
}
