n8n/rom-scraper-workflow.json
{
  "name": "ROM Metadata Scraper (ScreenScraper)",
  "nodes": [
    {
      "parameters": {
        "content": "## ROM Metadata Scraper\n\n**Setup (fill in Config node):**\n1. `rom_api_base` — internal backend URL (already set)\n2. `rom_api_key` — your API key from charno-secrets\n3. `ss_user` / `ss_password` — register free at screenscraper.fr\n\n**How it works:**\n- Fetches all games without box art\n- For each game, calls the backend `/auto-scrape` endpoint\n- The backend (which has internet access) calls ScreenScraper,\n  downloads images, and saves everything\n- 2 second delay between games to respect rate limits\n\n**ScreenScraper free tier:** ~10,000 requests/day\n~6,700 games ≈ 2 hours to complete",
        "height": 300,
        "width": 380,
        "color": 7
      },
      "id": "note-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -260]
    },
    {
      "parameters": {},
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 100]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "rom_api_base",
              "value": "http://charno-backend.web.svc.cluster.local:3080/api",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "rom_api_key",
              "value": "REPLACE_WITH_YOUR_API_KEY",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "ss_user",
              "value": "REPLACE_WITH_SS_USERNAME",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "ss_password",
              "value": "REPLACE_WITH_SS_PASSWORD",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "ss_devid",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "ss_devpassword",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.rom_api_base }}/roms?no_art=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.rom_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-games",
      "name": "Get All Games",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop",
      "name": "Loop Over Games",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.rom_api_base + '/roms/' + $json.id + '/auto-scrape' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.rom_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "ss_user",        "value": "={{ $('Config').first().json.ss_user }}" },
            { "name": "ss_password",    "value": "={{ $('Config').first().json.ss_password }}" },
            { "name": "ss_devid",       "value": "={{ $('Config').first().json.ss_devid }}" },
            { "name": "ss_devpassword", "value": "={{ $('Config').first().json.ss_devpassword }}" }
          ]
        },
        "options": {}
      },
      "id": "node-auto-scrape",
      "name": "Auto Scrape Game",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (result.ss_found) {\n  console.log(`Scraped: ${result.title} — box: ${!!result.box_art_url}, screenshots: ${(result.screenshots||[]).length}`);\n} else {\n  console.log(`Not found: id=${result.id} — ${result.reason || 'unknown'}`);\n}\n// 2 second rate-limit delay\nawait new Promise(resolve => setTimeout(resolve, 2000));\nreturn $input.all();"
      },
      "id": "node-delay",
      "name": "Log and Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 100]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Get All Games", "type": "main", "index": 0 }]]
    },
    "Get All Games": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    },
    "Loop Over Games": {
      "main": [
        [],
        [{ "node": "Auto Scrape Game", "type": "main", "index": 0 }]
      ]
    },
    "Auto Scrape Game": {
      "main": [[{ "node": "Log and Delay", "type": "main", "index": 0 }]]
    },
    "Log and Delay": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "instanceId": ""
  },
  "id": "rom-scraper-v2",
  "tags": []
}
