n8n/rom-scraper-igdb-workflow.json
{
  "name": "ROM Metadata Scraper (IGDB)",
  "nodes": [
    {
      "parameters": {
        "content": "## ROM Metadata Scraper — IGDB\n\n**Setup (fill in Config node):**\n1. `rom_api_base` — already set to internal backend URL\n2. `rom_api_key` — your API key from charno-secrets\n3. `igdb_client_id` / `igdb_client_secret` — from dev.twitch.tv:\n   - Register app at https://dev.twitch.tv/console\n   - Category: \"Application Integration\"\n   - Get Client ID + generate Client Secret\n   - Register at https://api.igdb.com to enable IGDB access\n\n**How it works:**\n- Fetches all games without box art\n- For each game, calls `/auto-scrape-igdb` on the backend\n- Backend gets a Twitch OAuth token, queries IGDB, downloads images\n- 1 second delay between games (IGDB rate limit: 4 req/sec)\n\n**IGDB free tier:** 4 requests/second\n~6,700 games ≈ ~30 minutes to complete",
        "height": 320,
        "width": 400,
        "color": 5
      },
      "id": "note-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -280]
    },
    {
      "parameters": {},
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 100]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "rom_api_base",
              "value": "http://charno-backend.web.svc.cluster.local:3080/api",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "rom_api_key",
              "value": "REPLACE_WITH_YOUR_API_KEY",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "igdb_client_id",
              "value": "REPLACE_WITH_IGDB_CLIENT_ID",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "igdb_client_secret",
              "value": "REPLACE_WITH_IGDB_CLIENT_SECRET",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.rom_api_base }}/roms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.rom_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-games",
      "name": "Get All Games",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "jsCode": "// n8n splits JSON arrays into individual items, so use $input.all()\nconst items = $input.all();\nconst unscraped = items.filter(item => !item.json.box_art_url);\n\nif (unscraped.length === 0) {\n  throw new Error('Nothing to scrape — all games already have box art.');\n}\n\nconsole.log(`Found ${unscraped.length} unscraped games out of ${items.length} total`);\nreturn unscraped;"
      },
      "id": "node-filter",
      "name": "Filter Unscraped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop",
      "name": "Loop Over Games",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.rom_api_base + '/roms/' + $json.id + '/auto-scrape-igdb' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Config').first().json.rom_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "igdb_client_id",     "value": "={{ $('Config').first().json.igdb_client_id }}" },
            { "name": "igdb_client_secret", "value": "={{ $('Config').first().json.igdb_client_secret }}" }
          ]
        },
        "options": {}
      },
      "id": "node-igdb-scrape",
      "name": "IGDB Scrape Game",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (result.igdb_found) {\n  console.log(`Scraped: ${result.title} — box: ${!!result.box_art_url}, screenshots: ${(result.screenshots||[]).length}`);\n} else {\n  console.log(`Not found: id=${result.id} — ${result.reason || 'unknown'}`);\n}\n// 1 second delay (IGDB allows 4 req/sec, backend does OAuth per request so be conservative)\nawait new Promise(resolve => setTimeout(resolve, 1000));\nreturn $input.all();"
      },
      "id": "node-delay",
      "name": "Log and Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 100]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Get All Games", "type": "main", "index": 0 }]]
    },
    "Get All Games": {
      "main": [[{ "node": "Filter Unscraped", "type": "main", "index": 0 }]]
    },
    "Filter Unscraped": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    },
    "Loop Over Games": {
      "main": [
        [{ "node": "IGDB Scrape Game", "type": "main", "index": 0 }],
        []
      ]
    },
    "IGDB Scrape Game": {
      "main": [[{ "node": "Log and Delay", "type": "main", "index": 0 }]]
    },
    "Log and Delay": {
      "main": [[{ "node": "Loop Over Games", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "id": "rom-scraper-igdb-v1",
  "tags": []
}
